[[language]]
name = "nix"
language-servers = [ "nil" ]
auto-format = true

[language-server.nil]
command = "nil"
formatter = { command = "nixfmt", args = "--stdin"}

[language-server.texlab.config.texlab.chktex]
onOpenAndSave = true
onEdit = true

[language-server.texlab.config.texlab.forwardSearch]
executable = "zathura"
args = [ "--synctex-forward", "%l:%c:%f", "%p" ]

[language-server.texlab.config.texlab.build]
auxDirectory = "build"
logDirectory = "build"
pdfDirectory = "build"

forwardSearchAfter = true
onSave = true

executable = "tectonic"
args = [
 "-X",
 "compile",
 "--synctex",
 "--keep-logs",
 "--keep-intermediates",
 "--outdir=build",
 "%f",
 ]

